set ignorecase
set smartcase
set number
set relativenumber
set scrolloff=3         " 3 lines above/below cursor when scrolling
set expandtab
set smarttab
set hlsearch
set incsearch
set showmatch
set showmode
set smartindent
set surround
set clipboard=unnamedplus,unnamed

let mapleader = " "

nmap <leader>; A;<Esc>
nmap <leader>d :action GotoDeclaration<cr>
nmap <leader>b :action Back<cr>
nmap <leader>f :action Forward<cr>
nnoremap <leader>rf :action RecentFiles<cr>
nnoremap <leader>rc :action RecentChangedFiles<cr>
nnoremap <leader>ie :action IntroduceVariable<cr>
nnoremap <leader>ra :action RunClass<cr>
nnoremap <leader>ne :action GotoNextError<cr>

nmap <leader>f :action GotoFile<cr>
nmap <leader>c :action GotoClass<cr>
nmap <leader>sp :action FileStructurePopup<cr>
nmap <leader>ed :action ShowErrorDescription<cr>
nnoremap <Leader>su :action ShowUsages<CR>
nnoremap <Leader>fu :action FindUsages<CR>
nnoremap <Leader>// :action CommentByLineComment<CR>
nnoremap <leader>gi :action GotoImplementation<cr>
